/* Estilos para a seção de introdução */
#g-introducao-bg {
  margin: 0;
  display: grid;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  background-color: black; /* Cor de fundo preta */
  box-shadow: inset 0px -120px 0px #fff; /* Sombra interna */
  width: 100%;
}

/* Estilos para o contêiner principal da introdução */
#container-introducao {
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
  max-width: 1200px; /* Largura máxima de 1200 pixels */
  display: grid; /* Exibe como grid */
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Define 2 colunas com a mesma largura */
  column-gap: 40px; /* Espaço entre as colunas */
  padding: 0 20px; /* Adiciona espaço interno ao contêiner */
}

/* Estilos para o conteúdo de texto na introdução */
.g-conteudotexto-introducao {
  align-self: center; /* Alinha verticalmente ao centro */
  padding-bottom: 120px; /* Preenchimento inferior */
}

/* Estilos para o título na introdução */
.g-conteudotexto-introducao h1 {
  color: #ffffff; /* Cor do texto branco */
  font-size: 3.125rem; /* Tamanho da fonte */
  line-height: 1.125; /* Altura da linha */
  letter-spacing: -2px; /* Espaçamento entre as letras */
  margin-bottom: 2rem; /* Margem inferior */
  padding-top: 3.125rem; /* Preenchimento superior */
  font-family: "Poppins", Arial, Helvetica, sans-serif; /* Fonte */
}

/* Estilos para o texto destacado no título */
.g-conteudotexto-introducao h1 span {
  color: #ff9900; /* Cor laranja */
}

/* Estilos para o texto de parágrafo na introdução */
.g-conteudotexto-introducao p {
  font-size: 1.5rem; /* Tamanho da fonte */
  line-height: 1.5; /* Altura da linha */
  color: #b2b2b2; /* Cor do texto cinza */
  margin-bottom: 2rem; /* Margem inferior */
  font-family: "Roboto", Arial, Helvetica, sans-serif; /* Fonte */
}

/* Estilos para os links na introdução */
.g-conteudotexto-introducao a {
  display: inline-block; /* Exibe como bloco inline */
  padding: 1rem 2rem; /* Preenchimento */
  background: linear-gradient(#ffbf00, #f2a50c); /* Gradiente laranja */
  border-radius: 4px; /* Borda arredondada */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  text-decoration: none; /* Remove a decoração do link */
  color: #332200; /* Cor do texto */
  font-size: 1.125rem; /* Tamanho da fonte */
  font-weight: bold; /* Peso da fonte */
  margin-bottom: 2.5rem; /* Margem inferior */
  font-family: "Roboto", Arial, Helvetica, sans-serif; /* Fonte */
}

/* Estilos para a imagem na introdução */
.g-imgintroducao {
  grid-column: 2; /* Posicionamento na segunda coluna */
}

/* Estilos para a imagem dentro da introdução */
.g-imgintroducao img {
  object-fit: cover; /* Ajusta o tamanho da imagem */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  margin: 0; /* Margem zero */
}

/* Estilos para a parte 2 */
#g-parte2 {
  width: 100vw; /* Largura total da viewport */
  height: 300px; /* Altura de 300 pixels */
  background-color: #ffffff; /* Cor de fundo branca */
}

/* Media queries */
@media (max-width: 1200px) {
  .g-conteudotexto-introducao {
    padding-top: 3.125rem; /* Preenchimento superior */
    padding-left: 20px; /* Preenchimento à esquerda */
  }

  #container-introducao {
    padding: 0; /* Remove o preenchimento */
    box-sizing: border-box; /* Mantém as dimensões do contêiner */
  }
}

@media (max-width: 900px) {
  .g-conteudotexto-introducao h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    margin-bottom: 1.25rem; /* Margem inferior */
  }

  .g-conteudotexto-introducao p {
    font-size: 1.1rem; /* Tamanho da fonte */
    margin-bottom: 0.875rem; /* Margem inferior */
  }
}

@media (max-width: 630px) {
  #g-introducao-bg {
    background-color: transparent; /* Cor de fundo transparente */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgb(32, 32, 32)),
      url("/img/fotos/introducao.jpg"); /* Gradiente com imagem de fundo */
    background-size: cover; /* Tamanho da imagem de fundo */
    background-position: center; /* Posição da imagem de fundo */
  }

  #container-introducao {
    display: grid; /* Exibe como grid */
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Define 1 coluna com a mesma largura */
    grid-template-rows: repeat(2, auto); /* Define 2 linhas automáticas */
    column-gap: 0px; /* Espaço entre as colunas */
    padding: 0 10px; /* Adiciona espaço interno ao contêiner */
    position: relative; /* Posição relativa */
    box-sizing: content-box; /* Ajusta o tamanho do contêiner */
  }

  .g-conteudotexto-introducao {
    grid-row: 1; /* Linha 1 */
    padding-bottom: 1.25rem; /* Preenchimento inferior */
  }

  .g-conteudotexto-introducao h1 {
    max-width: 15ch; /* Largura máxima de 15 caracteres */
    font-size: 3.5rem; /* Tamanho da fonte */
  }

  .g-conteudotexto-introducao p {
    max-width: 35ch; /* Largura máxima de 35 caracteres */
    font-size: 1.5rem; /* Tamanho da fonte */
  }

  .g-imgintroducao {
    display: none; /* Oculta a imagem */
  }

  #g-introducao-bg {
    display: grid; /* Exibe como grid */
    justify-content: center; /* Centraliza horizontalmente */
    background-color: black; /* Cor de fundo preta */
    box-shadow: inset 0px 0px 0px #fff; /* Sombra interna */
    width: 100%; /* Largura total */
  }
}

@media (max-width: 450px) {
  .g-conteudotexto-introducao h1 {
    padding-top: 0px; /* Preenchimento superior */
    max-width: 20ch; /* Largura máxima de 20 caracteres */
    font-size: 2.2rem; /* Tamanho da fonte */
    margin-bottom: 0.625rem; /* Margem inferior */
  }

  .g-conteudotexto-introducao p {
    max-width: 45ch; /* Largura máxima de 45 caracteres */
    font-size: 0.8rem; /* Tamanho da fonte */
    margin-bottom: 0.625rem; /* Margem inferior */
  }

  .g-conteudotexto-introducao a {
    display: inline-block; /* Exibe como bloco inline */
    padding: 1rem 1.875rem; /* Preenchimento */
    font-size: 0.7rem; /* Tamanho da fonte */
    margin-bottom: 1.25rem; /* Margem inferior */
  }
}
