/* Estilo para o contêiner do fundo da lista de bicicletas */
#g-list-bike-bg {
  margin: 0;
  display: grid;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

/* Estilo para o contêiner principal da lista de bicicletas */
#container-list-bike {
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
  max-width: 1200px;
  display: grid;
  grid-template-rows: repeat(2, auto); /* Define 2 linhas automáticas */
  padding: 0 20px; /* Adiciona espaço interno ao contêiner */
}

/* Estilo para o título da lista de bicicletas */
#container-list-bike h1 {
  margin-top: 50px; /* Margem superior de 50 pixels */
  margin-bottom: 20px; /* Margem inferior de 20 pixels */
  font-size: 50px; /* Tamanho da fonte de 50 pixels */
}

/* Estilo para a parte destacada do título */
#container-list-bike h1 span {
  color: #ff9900; /* Cor laranja */
}

/* Estilo para a lista de bicicletas */
.ul-daListbike {
  max-width: 1400px; /* Largura máxima de 1400 pixels */
  display: flex; /* Exibe os itens em linha */
  gap: 40px; /* Espaço entre os itens */
  padding: 0; /* Remove o preenchimento */
  margin: 0; /* Remove a margem */
  overflow-x: auto; /* Adiciona rolagem horizontal */
  -webkit-overflow-scrolling: touch; /* Comportamento de rolagem suave no iOS */
  list-style: none; /* Remove os marcadores de lista */
}

/* Estilo para cada item da lista de bicicletas */
.ul-daListbike li {
  min-width: 280px; /* Largura mínima de 280 pixels */
  padding-bottom: 50px; /* Preenchimento inferior de 50 pixels */
}

/* Estilo para as imagens dentro da lista de bicicletas */
.ul-daListbike img {
  width: 100%; /* Largura total */
  border-radius: 10px; /* Adiciona borda arredondada */
}

/* Estilo para o título dentro da lista de bicicletas */
.ul-daListbike h3 {
  color: black; /* Cor do texto preto */
  margin-top: 20px; /* Margem superior de 20 pixels */
  position: relative; /* Posição relativa */
  font-size: 30px; /* Tamanho da fonte de 30 pixels */
}

/* Estilo para o marcador antes do título */
.ul-daListbike li h3::before {
  position: relative; /* Posição relativa */
  content: ""; /* Adiciona conteúdo vazio */
  display: inline-block; /* Exibe como bloco inline */
  top: -6px; /* Posiciona 6 pixels acima */
  width: 20px; /* Largura de 20 pixels */
  height: 10px; /* Altura de 10 pixels */
  background-color: #ff9900; /* Cor de fundo laranja */
  margin-right: 5px; /* Margem direita de 5 pixels */
  border-radius: 2px 0 0 2px; /* Borda arredondada */
}

/* Estilo para o subtítulo dentro da lista de bicicletas */
.ul-daListbike h4 {
  margin-left: 26px; /* Margem esquerda de 26 pixels */
  font-size: 20px; /* Tamanho da fonte de 20 pixels */
  margin-top: -6px; /* Margem superior de -6 pixels */
  color: rgb(43, 43, 43); /* Cor do texto */
  margin-bottom: 30px; /* Margem inferior de 30 pixels */
}

/* Estilo para os links dentro da lista de bicicletas */
.ul-daListbike a {
  text-decoration: none; /* Remove a decoração do link */
  display: inline-block; /* Exibe como bloco inline */
}

/* Estilo de foco ao passar o mouse sobre os links */
.ul-daListbike a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11); /* Sombra ao passar o mouse */
  border-radius: 20px; /* Borda arredondada ao passar o mouse */
}

@media (max-width: 900px) {
  .ul-daListbike li {
    padding: 10px 10px; /* Preenchimento dos itens */
    border-radius: 10px; /* Borda arredondada */
    background-color: #eeeeee; /* Cor de fundo */
  }

  .ul-daListbike a:hover {
    display: none; /* Esconde o link ao passar o mouse */
  }
}

@media (max-width: 430px) {
  #container-list-bike h1 {
    font-size: 40px; /* Tamanho da fonte para telas menores */
  }
}

@media (max-width: 320px) {
  #container-list-bike h1 {
    font-size: 30px; /* Tamanho da fonte para telas ainda menores */
  }
}
