@import url(introducao.css);
@import url(header.css);
@import url(list-bike.css);
@import url(tecnologias.css);
@import url(parceiros.css);

body {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0px;
}
