body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
header {
  width: 100vw;
  height: auto;
  background-color: black;
  display: grid;
  justify-content: center;
}
#ul-menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
#ul-menu a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
  transition: all ease 0.2s;
}

#ul-menu a:hover {
  color: #ff9900;
  font-size: 19px;
  text-shadow: 0px 0px 15px rgba(252, 190, 97, 0.589);
}
.hea-container {
  width: 100vw;
  max-width: 1200px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  box-sizing: border-box;
  padding: 10px 30px;
}
.btn-mobile {
  display: none;
}
@media (max-width: 800px) {
  #ul-menu a {
    background-color: #141414;
    padding: 20px 30px;
    border-radius: 5px;
  }
  .hea-container {
    padding: 50px 50px 30px 50px;
  }
  #ul-menu {
    justify-self: center;
    gap: 15px;
  }
  #ul-menu a {
    font-size: 14px;
    padding: 20px 25px;
  }
  .link-logo {
    width: 70vw;
  }
  #nav {
    width: 70vw;
  }
  .hea-container {
    justify-content: center;
    gap: 10px 0px;
  }
}
@media (max-width: 550px) {
  .hea-container {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .link-logo {
    width: auto;
  }
  #nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: initial;
    width: auto;
  }
  .btn-mobile {
    display: block;
    background-color: #ff9900;
    border-radius: 10px;
    border: none;
  }
  .btn-mobile img {
    width: 30px;
  }
  #nav {
    width: auto;
  }
  #ul-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 116px;
    right: 0px;
    background-color: black;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    z-index: 1000;
    transition: all ease 0.5s;
  }

  #ul-menu a {
    color: white;
    font-size: 25px;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 20px;
  }
  #nav.active #ul-menu {
    visibility: visible;
    overflow-y: auto;
    height: calc(100vh - 116px);
    display: block;
  }
  #nav.active #ul-menu a {
    color: white;
    font-size: 25px;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 20px;
  }
  #nav.active #ul-menu a:hover {
    color: black;
  }
}
#nav.active #ul-menu li:hover {
  color: black;
  background-color: #ff9900;
}
